**/.kate-swp
**/[Bb]in/*
**/[Pp]ackages/*
*.pkg.tar.zst
.pkg/PKGBUILD
.DS_Store
.assets/
.context/
.docs/
.git/
.repomix/
.repomixignore
.svelte-kit
[Dd]ist/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
build
coverage/
node_modules/
obj/x64/
obj/x86/
pkg/
project.fragment.lock.json
project.lock.json
publish/
repomix.*.json
src-tauri/gen/
src-tauri/target/
